{% load i18n pages_tags %}

{% if on_home %}
<li>मुखपृष्ठ</li>
{% else %}
{% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <a href="{% url "home" %}">मुखपृष्ठ</a>
    {% endif %}

    {% if page.is_current_or_ascendant %}
        {% if page.is_current %}
        <small><span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span> </small>{{ page.title }}
        {% else %}
        <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </small><a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}

{% endfor %}
{% endif %}
