body, html{
	margin: 0;
	overflow: hidden;
	height: 100%;
}

body {
    font-weight: 400;
    line-height: 2.4em;
    color: #1d1601;
	text-align: left;
	padding-top: 0;
	background-color: #f9d9a8;
	background-image: url(/static/img/body-bg.jpg)
}

#bms-sidebar{
	position: absolute;
	left: 0;
	height: 100%;
	overflow-y: scroll;
	border-right: 12px solid #735403;
}

#bms-main {
	position: absolute;
	right: 0;
	height: 100%;
	overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

.hkp-logo {
	height: 120px;
}

.bms-search{
	height: 120px;
}

.bms-search > div{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Multi level menu */

.u-vmenu ul li {
	list-style: none;
	display: block;
    padding: 0;
	margin: 0;
	color: #1d1601;
	border-color: #da9d5b;
}
.u-vmenu ul ul{
	display: none;
}
.u-vmenu > ul > li {
	height: 10em;
}
.u-vmenu ul li a {
	display: block;
	font-size: 14px;
	color: #82846f;
	text-decoration: none;
	outline: none;
}
.u-vmenu > ul > li > a {
	padding-left: 0;
}
.u-vmenu > ul > li > ul > li > a {
	padding-left: 2em;
}
.u-vmenu > ul > li > ul > li > ul > li > a {
	padding-left: 4em;
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 6em;
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 6em;
}
.u-vmenu ul li a[data-option='on']{
	background: url(/static/img/vmenu/on.png) right center no-repeat;
}
.u-vmenu ul li a[data-option='off'] {
	background: url(/static/img/vmenu/off.png) right center no-repeat;
}
/* End */

.book-thumbnail{
	text-align: center;
}
.book-thumbnail > img{
	width: 160px;
	height: 254px;
}
.book-thumbnail > figcaption{
	color: rgb(131, 60, 11);
	font-size: 1em;
	margin: 1em;
	font-weight: bold;
	text-align: center;
}

.bms-title{
	color: rgb(112, 48, 160);
	font-size: 2.5em;
	font-family: "Vesper Libre",helvetica,sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

.bms-level-1{
	color: rgb(192,0,0);
	font-size: 2em;
	font-family: "Vesper Libre",helvetica,sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

.bms-level-2{
	color: rgb(192,0,0);
	font-size: 1.5em;
	font-family: "Vesper Libre",helvetica,sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

.bms-emphasis{
	color: rgb(131, 60, 11);
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

.bms-text{
	font-size: 1em;
	text-align: justify;
}

