<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">

<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% compress css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Laila|Vesper+Libre">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="{% static "bms-theme/css/main.css" %}">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{% static "bms-theme/js/main.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
    <div class="wrapper">
        <!-- SIDEBAR -->
        {% block left_panel %}
        <nav class="bms-tree" id="bms-sidebar">
            <div id="bms-sidebar-header">
                <img class="img-fluid" src="{% static "img/hkp-logo.png" %}" alt="SPAV Logo"/>
            </div>
            {% page_menu "includes/tree.html" %}
        </nav>
        {% endblock %}

        <!-- MAIN CONTAINER -->
        <div id="bms-main">
            <header class="container-fluid" id="bms-header">
                <div class="row" id="bms-header-top">
                    <div class="col-auto mr-auto">
                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        {% search_form %}
                    </div>
                </div>

                {% block breadcrumb_menu %}
                <div class="row" id="bms-header-bottom">
                    <div class="col">
                        {% page_menu "includes/breadcrumb.html" %}
                    </div>
                </div>
                {% endblock %}
            </header>

            <div class="container" id="bms-content">
                {% nevercache %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endnevercache %}
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>

    {% block footer_js %}
    {% include "includes/footer_scripts.html" %}
    {% endblock %}

</body>
</html>
