<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">

<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% compress css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Laila|Vesper+Libre">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="{% static "bms-theme/css/main.css" %}">
<link rel="stylesheet" href="{% static "bms-theme/css/bootswatch-slate.min.css" %}">
<link rel="stylesheet" href="{% static "bms-theme/css/bms-d.css" %}">
<link rel="stylesheet" href="{% static "bms-theme/css/bms-n.css" %}">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{% static "bms-theme/js/main.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="bms-d">
    <div class="wrapper">
        <!-- SIDEBAR -->
        {% block left_panel %}
        <aside id="bms-sidebar">
            <div id="bms-sidebar-header">
                <a href="{% url "home" %}"><img class="img-fluid" src="{% static "img/hkp-logo.png" %}" alt="SPAV Logo"/></a>
            </div>
            <nav class="bms-tree">
            {% page_menu "includes/tree.html" %}
            </nav>
        </aside>
        {% endblock %}

        <!-- MAIN CONTAINER -->
        <div id="bms-main">
            <header class="container-fluid" id="bms-header">
                <div class="row" id="bms-header-top">
                    <div class="col-5">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                                <i class="fas fa-angle-double-left"></i>
                            </button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="bms-settings-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="bms-settings-dropdown">
                                <div class="dropdown-item"><input id="font-size-slider" type="range" min="50" max="200" value ="100" step="10"></div>
                                    <div class="dropdown-item text-center">
                                        <div id="night-mode-switch" class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-primary active" id="bms-day-mode">
                                                <input type="radio" name="Day Mode" value="dayMode" autocomplete="off" checked><i class="fa fa-sun fa-xs"></i>
                                            </label>
                                            <label class="btn btn-primary" id="bms-night-mode">
                                                <input type="radio" name="Night Mode" value="nightMode" autocomplete="off"><i class="fa fa-moon fa-xs"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        {% search_form %}
                    </div>
                </div>

                
                <div class="row justify-content-between" id="bms-header-bottom">
                    <div class="col" id="bms-breadcrumb">
                        {% block breadcrumb_menu %}
                        {% page_menu "includes/breadcrumb.html" %}
                        {% endblock %}
                    </div>
                </div>
                
            </header>

            <div class="container" id="bms-content">
                {% nevercache %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endnevercache %}
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>

    {% block footer_js %}
    {% include "includes/footer_scripts.html" %}
    {% endblock %}

</body>
</html>
