{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <figure class="figure book-thumbnail">
            <img class="figure-img img-thumbnail" src="{% static "img/books/Bhagavad_Gita-As_It_Is.jpg" %}" />
            <figcaption class="figure-caption">श्रीमद्-भगवद्-गीता यथारूप</figcaption>
            </figure>
        </div>

        <div class="col-md-3">
            <figure class="figure book-thumbnail">
            <img class="img-thumbnail " src="{% static "img/books/Prahlad_Maharaj_Ka_Divya_Upadesh.jpg" %}" />
            <figcaption class="figure-caption">प्रह्लाद महाराज के दिव्य उपदेश</figcaption>
        </div>

        <div class="col-md-3">
            <figure class="figure book-thumbnail">
            <img class="img-thumbnail" src="{% static "img/books/Purna_Prashna_Purna_Uttar.jpg" %}" />
            <figcaption class="figure-caption">पूर्ण प्रश्न पूर्ण उत्तर</figcaption>
        </div>
        <div class="col-md-3">
                <figure class="figure book-thumbnail">
                <img class="img-thumbnail" src="{% static "img/books/Purna_Prashna_Purna_Uttar.jpg" %}" />
                <figcaption class="figure-caption">पूर्ण प्रश्न पूर्ण उत्तर</figcaption>
        </div>

        <div class="col-md-3">
                <figure class="figure book-thumbnail">
                <img class="img-thumbnail " src="{% static "img/books/Prahlad_Maharaj_Ka_Divya_Upadesh.jpg" %}" />
                <figcaption class="figure-caption">प्रह्लाद महाराज के दिव्य उपदेश</figcaption>
            </div>
    
   </div>
</div>

{% endblock %}
